Repository venture23-aleo/verulink, pull requests merged in 2025-05, with the labels that each got.

#40 Add supported token list in Aleo
  README.md
Labels: documentation

#41 feat: add mTLS architecture design and documentation
  docs/images/mTLSArch.png
  docs/mTLS_architecture.md
Labels: documentation

#38 ci: add systemd deployment script for attestor
  .gitignore
  scripts/aws/DEPLOYMENT.md
  scripts/deploy-local.sh
Labels: documentation, scripts

#43 feat: update contract ABI and add Go unit test workflow
  .github/workflows/go-build.yml
  attestor/chainService/chain/ethereum/abi/BridgeBinding.go
  attestor/chainService/chain/ethereum/client.go
  attestor/chainService/chain/ethereum/client_test.go
  attestor/chainService/config.yaml
  attestor/chainService/relay/collector/collector_test.go
  attestor/chainService/relay/relays.go
  attestor/signingService/chain/aleo/hash.go
  attestor/signingService/chain/aleo/hash_test.go
  attestor/signingService/chain/aleo/sign.go
  attestor/signingService/chain/aleo/sign_test.go
Labels: cicd
